<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="SitePoint">
        <meta name="description" content="The HTML5 Herald">
        <title>Title</title>
        <style>
            body {
              margin: 0;
              display: flex;
              min-height: 100vh;
              min-width: 100vw;
              justify-content: center;
              align-items: center;
              background-color: black;
              color: white;
              flex-direction: column;
            }
        </style>
    </head>
    <body>
        <a href="/red">Red</a>
        <a href="/green">Green</a>
        <a href="/blue">Blue</a>
    </body>
</html>
